/* Sidebar Micro News Starts Admin*/


#micro-news .editB{
float:right;
width:100px;
position:absolute;
top:0px;
right:15px;

}

#micro-news  .closeB{
	margin-top:1px;
	padding:4px 5px 4px 5px;
	color: #fff;
	background: #21759b;
	cursor:pointer;
	position:absolute;
	top:0px;
	right:0px;
	width:5px;
	
	-webkit-border-radius: 11px;
border-radius: 11px;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
}

#micro-news  .closeB:hover{
	-webkit-border-radius: 1px;
border-radius: 1px;
}

#update-micro-news {
	border-top: 2px solid #565656;
}

#update-micro-news .row{
	width:100%;
	padding:5px;
	
}

#update-micro-news .row label{
	display:block;
}

#update-micro-news input[type=text]{
	width:400px;
}

#update-micro-news textarea{
	width:400px;
	height:80px;
}

#add-micro-news label{
	display:block;
}

#add-micro-news input[type=text]{
	width:400px;
}

#add-micro-news textarea{
	width:400px;
	height:80px;
}

#add-micro-news .row {
	width:100%;
	padding:15px;
}

#add-micro-news input[type=submit]{
	width:100px;
	padding:5px;
}

.micro-news-post-nav{
	padding:2px;
	margin:0;
	font-size:15px;
	line-height:20px;
}

.micro-news-post-nav li a{text-decoration:none;}

.micro-news-post-nav li{
	padding:2px 10px 2px 10px;
	float:left;
	border-bottom:2px solid #888888;
	border-top:2px solid #888888;
	border-left:2px solid transparent;
	border-right:2px solid transparent;
	margin-right:5px;
}
.micro-news-post-nav li:hover{
	border:2px solid #888888;
}

/* Sidebar Micro News Ends */