/* Sidebar Micro News Starts */

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

#micro-news	{
	width:99%;
	height:auto;
	border:0px solid red;
	overflow:hidden;
	margin-bottom:15px;
}

#micro-news .head{
	width:100%;
	overflow:hidden;
	background:url(../img/black-stripe.gif);
	opacity:0.7;
	filter:alpha(opacity=70);
	height:23px;
	padding-top:7px;
	border-top:2px solid #CCC;
}

#micro-news .head strong{
	color:white;
	padding:15px 30px 15px 30px;
	background:grey;
	height:100%;
	width:40%;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:13px;
}

#micro-news .wrapNews{
	width:99%;
	padding:2px 2px 20px 2px;	
	border-left:4px solid transparent;
	min-height:50px;
	position:relative;
}

.wrapNews .title{
	color:#0066cc;
	font-size:15px;
	font-family:Myriad Pro, Trebuchet MS, Arial, Sans-Serif;
	margin-top: 0px;
	margin-bottom: 2px;
}

.wrapNews .text{
	padding-bottom:20px;
	position: relative;
}

.wrapNews .postedOn{
	font-size:10px;
	border-bottom:2px solid #CCC;
	position:absolute;
	left:0px;
	bottom:0px;
}

.wrapNews .link{
	position:absolute;
	right:5px;
	bottom:2px;
	padding:2px;
}

.wrapNews .link:hover{
	background-color:#8bbf36;
}

.wrapNews .clean:hover{
	background-color:transparent;
}

.wrapNews .link a{
	color:#8bbf36 ;
}

.wrapNews .link a:visited{
	color:#8bbf36 ;
}

.wrapNews .link a:hover{
	color:black; 
}

#micro-news-more-link{
	padding:10px;
	border:1px solid #CCC;
}
#micro-news-more-link:hover{
	background-color:#8bbf36;
}

/* ------------------------------------------Admin starts ----*/


#micro-news .editB{
float:right;
width:100px;
position:absolute;
top:0px;
right:15px;

}

#micro-news  .closeB{
	margin-top:1px;
	padding:4px 5px 4px 5px;
	color: #fff;
	background: #21759b;
	cursor:pointer;
	position:absolute;
	top:0px;
	right:0px;
	width:5px;
	
	-webkit-border-radius: 11px;
border-radius: 11px;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
}

#micro-news  .closeB:hover{
	-webkit-border-radius: 1px;
border-radius: 1px;
}

#mirco-news .container-admin-meta-link{
	position: relative;
}

#update-micro-news {
	border-top: 2px solid #565656;
}

#update-micro-news .row{
	width:100%;
	padding:5px;
	
}

#update-micro-news .row label{
	display:block;
}

#update-micro-news input[type=text]{
	width:400px;
}

#update-micro-news textarea{
	width:400px;
	height:80px;
}

#add-micro-news label{
	display:block;
}

#add-micro-news input[type=text]{
	width:400px;
}

#add-micro-news textarea{
	width:400px;
	height:80px;
}

#add-micro-news .row {
	width:100%;
	padding:15px;
}

#add-micro-news input[type=submit]{
	width:100px;	
}

.micro-news-post-nav{
	padding:2px;
	margin:0;
	font-size:15px;
	line-height:20px;
}

.micro-news-post-nav li a{text-decoration:none;}

.micro-news-post-nav li{
	padding:2px 10px 2px 10px;
	float:left;
	border-bottom:2px solid #888888;
	border-top:2px solid #888888;
	border-left:2px solid transparent;
	border-right:2px solid transparent;
	margin-right:5px;
}
.micro-news-post-nav li:hover{
	border:2px solid #888888;
}

/* ----Admin ends ----*/


/* Sidebar Micro News Ends */
