/* Sidebar Micro News Starts */

#micro-news	{
	width:99%;
	height:auto;
	border:0px solid red;
	overflow:hidden;
	margin-bottom:15px;
}

#micro-news .head{
	width:100%;
	overflow:hidden;
	background:url(../img/black-stripe.gif);
	opacity:0.7;
	filter:alpha(opacity=70);
	height:23px;
	padding-top:7px;
	border-top:2px solid #CCC;
}

#micro-news .head strong{
	color:white;
	padding:15px 30px 15px 30px;
	background:grey;
	height:100%;
	width:40%;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:13px;
}

#micro-news .wrapNews{
	width:98%;
	padding:2px;
	border-left:4px solid transparent;
	min-height:70px;
	position:relative;
}

.wrapNews .title{
	color:#0066cc;
	font-size:15px;
	font-family:Myriad Pro, Trebuchet MS, Arial, Sans-Serif;
}

.wrapNews .text{
	padding-bottom:20px;
}

.wrapNews .postedOn{
	font-size:10px;
	border-bottom:2px solid #CCC;
	position:absolute;
	left:5px;
	bottom:5px;
}

.wrapNews .link{
	position:absolute;
	right:5px;
	bottom:2px;
	padding:2px;
}

.wrapNews .link:hover{
	background-color:#8bbf36;
}

.wrapNews .clean:hover{
	background-color:transparent;
}

.wrapNews .link a{
	color:#8bbf36 ;
}

.wrapNews .link a:visited{
	color:#8bbf36 ;
}

.wrapNews .link a:hover{
	color:black; 
}

#micro-news-more-link{
	padding:10px;
	border:1px solid #CCC;
}
#micro-news-more-link:hover{
	background-color:#8bbf36;
}


/* Sidebar Micro News Ends */